.logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;

  .footer & {
    margin-bottom: 20px;
  }

  &_theme {
    &_header {
      color: var(--logo-text-main);
    }

    &_footer {
      color: var(--accent-text-color);
    }
  }
}
