.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  .header & {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 80px;
  }

  .footer & {
    display: flex;
    align-items: baseline;
  }

  .hero & {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 696px;
  }
}
